



.groupTest
  padding: 3rem
  .header
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 2rem
    &>div
      display: flex
      align-items: center
  .subheader
    margin-top: 2rem
    display: flex
    justify-content: flex-end
  .wrapper
    margin-top: 2rem
    display: flex
    flex-direction: column
    gap: 3rem
    z-index: 1
    .accordion
      width: 100%

  .createTest
    background-color: white
    padding: 2rem
    border-radius: 15px
    display: flex
    flex-direction: column
    gap: 2rem
    width: 40rem
    max-height: 80rem
    overflow: auto
    .student
      display: flex
      flex-direction: column
      .info
        input
          width: 20px
          height: 20px
      &>div
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 2rem
    .btns
      display: flex